
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ .Values.app }}-deployment"
  labels:
    app: {{ .Values.app }}

spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: {{ .Values.app }}
  template:
    metadata:
      labels:
        app: {{ .Values.app }}
    spec:
      containers:
        - name: {{ .Values.app }}
          image: "{{ .Values.ECR_REGISTRY }}/{{ .Values.app }}:{{ .Values.IMAGE_TAG }}"
          ports:
            - containerPort: {{ .Values.CONTAINER_PORT }}