apiVersion: v1
kind: Namespace
spec:
  metadata:
    name: {{ .Values.app }}

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.deployment_name }}
  namespace: {{ .Values.app }}
  labels:
    app: {{ .Values.app }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: {{ .Values.app }}
  template:
    metadata:
      labels:
        app: {{ .Values.app }}
    spec:
      containers:
        - name: {{ .Values.app }}
          image: "{{ .Values.ECR_REGISTRY }}/{{ .Values.app }}:{{ .Values.IMAGE_TAG }}"
          ports:
            - containerPort: {{ .Values.service.CONTAINER_PORT }} # Fixed path