name: Focus Timer App Build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  id-token: write   # REQUIRED for OIDC
  contents: read

env:
  AWS_REGION: us-east-1
  IMAGE_NAME: focus
  ECR_REGISTRY: ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.us-east-1.amazonaws.com
  K8S_DEPLOYMENT: focus-deployment
  K8S_CONTAINER: focus
  K8S_NAMESPACE: default  # adjust if using another namespace

jobs:
  build-scan-push-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      # ---------------------------
      # AWS Auth (OIDC)
      # ---------------------------
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          #role-to-assume: ${{ secrets.AWS_ROLE_ARN_OIDC }}
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

    

      # ---------------------------
      # Build Docker Image
      # ---------------------------
      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./focus-timer-app/
          push: false
          load: true
          tags: ${{ env.ECR_REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.run_number }}

      # ---------------------------
      # Trivy Image Scan
      # ---------------------------
      - name: Trivy vulnerability scan
        uses: aquasecurity/trivy-action@0.20.0
        with:
          image-ref: ${{ env.ECR_REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.run_number }}
          severity: HIGH, CRITICAL
          exit-code: 0
          ignore-unfixed: true

      # ---------------------------
      # Push to ECR
      # ---------------------------
      - name: Create ECR repository if not exists
        run: |
          aws ecr describe-repositories --repository-names ${{ env.IMAGE_NAME }} || \
          aws ecr create-repository \
            --repository-name ${{ env.IMAGE_NAME }} \
            --image-tag-mutability MUTABLE \
            --image-scanning-configuration scanOnPush=true

      - name: Push image to Amazon ECR
        uses: docker/build-push-action@v5
        with:
          context: ./focus-timer-app/
          push: true
          tags: |
            ${{ env.ECR_REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.run_number }}
            ${{ env.ECR_REGISTRY }}/${{ env.IMAGE_NAME }}:latest

      # ---------------------------
      # Setup Kubectl
      # ---------------------------
      - name: Setup Kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'v1.29.0'

      # ---------------------------
      # Update kubeconfig (EKS)
      # ---------------------------
      - name: Update kubeconfig
        run: |
          aws eks update-kubeconfig --name ${{ secrets.EKS_CLUSTER_NAME }} --region ${{ env.AWS_REGION }} 

      # ---------------------------
      # Deploy to EKS
      # ---------------------------
      - name: Deploy to EKS
        run: |
            kubectl get namespace focus || kubectl create namespace focus
            kubectl apply -f ./focus-timer-app/focus-deployment.yaml -n focus
            kubectl apply -f ./focus-timer-app/focus-service.yaml -n focus
            kubectl get all -n focus

    